body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: orangered ;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
img {
    border-bottom-width: 1px;
    border-color: cyan;
}

#login, #register {
    border-radius: 25px;
    border-color: orangered;
}